/* REMOVE the Vite template layout restrictions */
:root, html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* prevent default centering */
#root {
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  text-align: left !important;
}

body {
  background: #020617; /* fallback color before React loads App.jsx background */
  overflow-x: hidden;
  font-family: Inter, Roboto, system-ui, sans-serif;
}
